@layer organism {
  website-header {
    display: contents;
  }

  header {
    a {
      text-decoration: none;
      color: inherit;
    }

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;

      li {
        font-weight: 900;
        white-space: nowrap;
        display: flex;
        align-items: center;

        svg {
          height: var(--h3-size);
          margin-right: 10px;
        }

        h3 {
          margin: 0;
        }
      }
    }
  }

  @media only screen and (min-width: 1420px) {
    header {
      ul {
        flex-direction: row;

        li {
          &:not(:last-child)::after {
            content: "-";
            margin: 20px;
          }
        }
      }
    }
  }
}
