website-header {
  display: contents;
}

header {
  padding-inline-start: 25px;

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      font-weight: 900;
      font-size: 1.125em;
      white-space: nowrap;
      display: flex;
      align-items: center;

      svg {
        height: 1.125em;
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  header {
    padding-inline-start: 100px;

    h1 {
      font-size: 6em;
    }

    ul {
      font-size: 2em;
      flex-direction: row;

      li {
        &:not(:last-child)::after {
          content: "-";
          margin: 20px;
        }
      }
    }
  }
}
