@layer atom {
  :root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    font-family: Fliege Mono;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --h1-size: 2em;
    --h2-size: 1.5em;
    --h3-size: 1.25em;
    --h4-size: 1.125em;
    --h5-size: 1em;
    --h6-size: 0.75em;

    --content-width: 800px;
    --content-max-width: calc(100vw - 40px);
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  }

  @media only screen and (min-width: 1420px) {
    :root {
      --h1-size: 6em;
      --h2-size: 4em;
      --h3-size: 2em;
      --h4-size: 1.5em;
      --h5-size: 1.25em;
      --h6-size: 1.125em;

      --content-width: 1400px;
      --content-max-width: calc(100vw - 20px);
    }
  }
}

@layer molecule {
  h1 {
    font-size: var(--h1-size);
  }

  h2 {
    font-size: var(--h2-size);
  }

  h3 {
    font-size: var(--h3-size);
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    width: var(--content-width);
    max-width: var(--content-max-width);
  }

  svg {
    fill: currentColor;
  }
}

@layer organism {
}

@layer utility {
  [hidden] {
    display: none !important;
  }
}
